flows.json
[
    {
        "id": "c56e169aa9cbe3e5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2f339a689bc9eff",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ec1024ba1b2abc0",
        "type": "debug",
        "z": "c56e169aa9cbe3e5",
        "name": "foo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "85d7700bc5debc36",
        "type": "inject",
        "z": "c56e169aa9cbe3e5",
        "name": "bar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "5ec1024ba1b2abc0"
            ]
        ]
    },
    {
        "id": "b9554a1b5563d589",
        "type": "inject",
        "z": "d2f339a689bc9eff",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "6717a65a2f290b87"
            ]
        ]
    },
    {
        "id": "6717a65a2f290b87",
        "type": "debug",
        "z": "d2f339a689bc9eff",
        "name": "fizz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "59c0073c12dd559d",
        "type": "inject",
        "z": "d2f339a689bc9eff",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "18e9e1ce24f29396"
            ]
        ]
    },
    {
        "id": "18e9e1ce24f29396",
        "type": "debug",
        "z": "d2f339a689bc9eff",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "44d1c7bd33624634",
        "type": "inject",
        "z": "d2f339a689bc9eff",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 80,
        "wires": [
            [
                "983881c446e79d56"
            ]
        ]
    },
    {
        "id": "983881c446e79d56",
        "type": "debug",
        "z": "d2f339a689bc9eff",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    }
]